.container {
    width: 400px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
   
    margin: 0 auto;
}

.form,
.group  {
    display: flex;
    flex-direction: column;
    
    /* width: 100%; */
}

.group {
    margin-bottom: 10px;

}

.group label {
    margin-bottom: 5px;
}

.group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form:last-child{
    margin-bottom: 15px;
}

.error {
    color: red;
}


.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
